body{
    background-color:gray;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
     gap: 10px;
}

.photo-card {
    background-color: orange;
}

.photo-card img {
    display: block;
    width: 100%;
    height: auto;

}